@use 'reset';

$font-primary: Helvetica, sans-serif;
$primary-color: #AA5939;
$c1: #FFC2AA;
$c2: #D48A6A;
$c3: #803416;
$c4: #551800;

$background: #facada;
$primary: violet;
$font-stack: Helvetica, sans-serif;
